@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contactos button, .tarjetasperros button {
  background-color: #001a32;
  border: solid;
  color: #001a32;
  color: white;
  padding: 10px, 15px;
}

.encabezado {
  background-color: #001a32;
  width: 100%;
  border: solid 5px;
  color: #001a32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encabezado img {
  width: 200px;
  height: 200px;
}
.encabezado nav {
  display: flex;
  justify-content: end;
  align-content: center;
}
.encabezado .menu_hamb {
  display: none;
}
@media (max-width: 768px) {
  .encabezado .menu_hamb {
    display: block;
    font-size: 30px;
    order: -2;
  }
  .encabezado .menu_hamb:hover + ul {
    right: 0;
  }
}
.encabezado ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  list-style-type: none;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .encabezado ul {
    position: fixed;
    top: 0;
    right: -600px;
    background-color: rgba(0, 26, 50, 0.6862745098);
    width: 70vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 100px;
    transition: 0.5s;
  }
  .encabezado ul:hover {
    right: 0px;
  }
}
.encabezado li {
  list-style-type: none;
  margin-right: 15px;
}
.encabezado .item {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.encabezado .menu1 {
  animation-delay: 0.2s;
}
.encabezado .menu2 {
  animation-delay: 0.4s;
}
.encabezado .menu3 {
  animation-delay: 0.6s;
}
.encabezado .menu4 {
  animation-delay: 0.8s;
}

a {
  color: blueviolet;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  width: auto;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  a {
    color: blueviolet;
  }
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.imgprincipal {
  background-image: url("../multimedia/imagenes/foto grande.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 110vh;
  display: flex;
  justify-content: center;
}
.imgprincipal h2 {
  color: blueviolet;
  font-size: 48px;
  text-align: center;
}
@media (max-width: 768px) {
  .imgprincipal {
    background-image: url(../multimedia/imagenes/imagen\ vertical.avif);
  }
}

.piedepagina {
  background-color: #001a32;
  border: solid;
  color: #001a32;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}
.piedepagina ul {
  color: #ee82ee;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.piedepagina .mapa {
  width: 90%;
  height: 200px;
  align-content: center;
  margin: 10px;
}
.piedepagina a {
  font-size: 42px;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.cuerpomedico {
  background-color: #001a32;
  border: solid 4px;
  color: blueviolet;
  display: flex;
}
.cuerpomedico div {
  background-color: white;
  width: 500px;
  height: 500px;
  border: solid 5px;
  color: blueviolet;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 868px) {
  .cuerpomedico div {
    width: auto;
  }
}
.cuerpomedico img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-items: center;
}
.cuerpomedico p {
  color: crimson;
  text-align: center;
}
@media (max-width: 1050px) {
  .cuerpomedico {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 868px) {
  .cuerpomedico {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.petshop a {
  font-size: 30px;
  margin-top: 0%;
  text-decoration: none;
}

.perros h2 {
  color: #ee82ee;
  text-align: center;
}
.perros img {
  width: 100%;
  height: 200px;
}

.tarjetasperros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjetasperros div {
  background-color: white;
  width: 300px;
  margin: 20px;
  border: solid 2px;
  color: blueviolet;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  transition: 1s;
}
.tarjetasperros div:hover {
  transform: scale(1.2);
}
.tarjetasperros h3 {
  color: #ee82ee;
}
.tarjetasperros h4 {
  color: #001a32;
}
.tarjetasperros img {
  width: 200px;
}
.tarjetasperros button {
  padding: 5px;
}

.informacion {
  display: flex;
  justify-content: center;
}

.contactos {
  border: solid;
  color: #001a32;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  height: 30%;
}
@media (max-width: 1050px) {
  .contactos {
    border: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
  }
}
.contactos input {
  border: solid;
  color: #001a32;
  margin: 10px;
}
.contactos textarea {
  border: solid;
  color: #001a32;
  margin: 10px;
  padding: 10px;
}
.informacion__selec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-content: start;
}
@media (max-width: 1050px) {
  .informacion__selec {
    display: block;
    text-align: center;
  }
}

.nosotros {
  background-color: #001a32;
  margin: 5px;
  display: flex;
  justify-content: space-around;
}
.nosotros img {
  border-radius: 50%;
}
@media (max-width: 768px) {
  .nosotros {
    background-color: #001a32 margin 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.servicios {
  border: solid;
  color: #001a32;
}
.servicios ul {
  color: blueviolet;
  font-size: 30px;
  padding: 30px;
  list-style: none;
}
@media (max-width: 768px) {
  .servicios ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
