.servicios{
    border: solid ; color: $bg-color; 
    ul{
        color: $main-color;
        font-size: 30px;
        padding: 30px;
        list-style: none;
        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}
}