.nosotros{
    background-color: $bg-color;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    img{
        border-radius: 50%;
    }
    @media(max-width:768px) {
        background-color: $bg-color
        margin 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }

}